<!DOCTYPE html>
<html ng-app="newApp">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body >
<div ng-controller="dataFetch">
    <table>
          <tr>
            <th>Name</th>
            <th>Country</th>
          </tr>
          <tr ng-repeat="country in countries">
            <td>{{country.Name}}</td>
            <td>{{country.Country}}</td>
          </tr>
    </table>

    <form novalidate>
        Email: <input type="text" ng-model="email"/><br/>
        Password: <input type="text" ng-model="passwprd"/><br/>
        <button ng_click="login()">login</button>
    </form>
    {{ user.email }}
</div> 
<script>
    var newapp = angular.module('newApp', []);
    newapp.controller('dataFetch', function ($scope, $http){
        $scope.login  = function() {
            alert($scope.email);
            var link = 'https://www.buxfer.com/api/login?userid=ashishranjaniitd@gmail.com&password=buxfer123';
            $http.get(link).success(function(data) {
                $scope.countries = data;
                console.log(data);
            });
        };
    });

</script>
</body>
</html>
