<!DOCTYPE html>
<html ng-app="newApp">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body >
<div ng-controller="dataFetch">
    <table>
          <tr>
            <th>Name</th>
            <th>Country</th>
          </tr>
          <tr ng-repeat="country in countries">
            <td>{{country.Name}}</td>
            <td>{{country.Country}}</td>
          </tr>
    </table>
</div> 
<div ng-controller="formController">
    <form novalidate>
        Email<input type="text" ng-model="user.email"><br/>
    </form>
    {{ user.email }}
</div>
<script>
    var newapp = angular.module('newApp', []);
    newapp.controller('dataFetch', function ($scope, $http){
        $http.get('http://www.w3schools.com//website/Customers_JSON.php').success(function(data) {
            $scope.countries = data;
        });
    });
    // newapp.controller('formController', function ($scope){
    //     $scope.user = {email: }
    // });

</script>
</body>
</html>
